*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home{
  margin: 50px 0 0 20px;
}

.home h1{
  margin-bottom: 10px;
}

.nopage{
  margin: 50px 0 0 20px;
}

nav{
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
}

nav ul{
  margin-left: 20px;
  display: flex;
  gap: 30px;
  list-style-type: none;
}

nav ul li{
  cursor: pointer;
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

nav ul li a:hover {
  text-decoration: underline;
}

.wrapper{
  margin-top: 50px;
  text-align: center;
}

.pokemon{
  margin: 20px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 20px;
  width: 50%;
  height: auto;
}

.pokemon li{
  list-style-type: none;
  width: auto;
  padding: 10px;
  box-shadow: 3px 3px 8px black;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}

.pokemon li a{
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.pokemon li:hover {
  transform: scale(1.1);
}

.detail{
  font-size: 20px;
  margin: 50px;
  width: 350px;
  padding: 30px;
  box-shadow: 5px 5px 10px black;
}

.detail ul li{
  text-transform: capitalize;
}

.detail ul p {
  margin-bottom: 20px; 
}

.detail ul p span{
  text-transform: capitalize;
}

